
.post-details{
   
    margin-bottom: 35rem !important;
    /* margin:auto; */
}

.create-btn{
    margin-left: 5rem;
    margin-top: 5rem;
}

.btn-title{
    color: rgb(217, 98, 98);
    text-align: center;
    padding:1rem;
}

.btn-author{
    color: rgb(58, 87, 233);
    padding: 2rem;
    font-size:large !important;
}
.paper-box{
    align-self: center;
}

.btn-content{
    
}